@model IEnumerable<WebMVCMuseo.Pelicula>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artista.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clasificacion.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distribuidora.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormatoDeCamara.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idioma.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productora.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario1.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artista.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clasificacion.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distribuidora.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormatoDeCamara.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idioma.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productora.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario1.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPelicula }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPelicula }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPelicula })
        </td>
    </tr>
}

</table>
